<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true"
			throwConfigExceptions="true">
	<variable name="logRoot"
						value="${when:when='${environment:HOME}'!='':inner=${environment:HOME}/LogFiles/Application:else=${basedir}/logs}" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="Console"
						name="console"
						layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />
		<target xsi:type="File"
						name="file"
						fileName="${var:logRoot}/survey-web-${shortdate}.log"
						keepFileOpen="false"
						createDirs="true"
						layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />
	</targets>

	<rules>
		<logger name="Microsoft.AspNetCore.*" minlevel="Warn" writeTo="console,file" final="true" />
		<logger name="Microsoft.*" minlevel="Warn" writeTo="console,file" final="true" />
		<logger name="System.*" minlevel="Warn" writeTo="console,file" final="true" />
		<logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>
</nlog>
