@page "/Account/InvalidUser"
@attribute [AllowAnonymous]

<PageTitle>Invalid User</PageTitle>

<div class="form-card narrow-card">
	<div class="page-stack">
		<h1>Invalid User</h1>
		<StatusMessage />
	</div>
</div>
