@page "/Account/RegisterConfirmation"

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register confirmation</PageTitle>

<h1>Verify your email</h1>

<StatusMessage Message="@statusMessage" />

<p role="alert">Please check your email to confirm your account. After confirmation, you’ll finish your profile and then name your tenant.</p>

@code {
	private string? statusMessage;

	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	[SupplyParameterFromQuery]
	private string? Email { get; set; }

	[SupplyParameterFromQuery]
	private string? ReturnUrl { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if (Email is null)
		{
			RedirectManager.RedirectTo("");
			return;
		}

		var user = await UserManager.FindByEmailAsync(Email);
		if (user is null)
		{
			HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
			statusMessage = "Error finding user for unspecified email";
		}
	}
}
