@page "/Account/ResetPassword"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities

@inject IdentityRedirectManager RedirectManager
@inject UserManager<ApplicationUser> UserManager

<PageTitle>Reset password</PageTitle>

<div class="form-card narrow-card">
	<StatusMessage Message="@Message" />
	<EditForm Model="Input" FormName="reset-password" OnValidSubmit="OnValidSubmitAsync" method="post">
		<DataAnnotationsValidator />
		<div class="page-stack">
			<h1>Reset Password</h1>
			<input type="hidden" name="Input.Code" value="@Input.Code" />
			<ValidationSummary class="text-danger" role="alert" />
			<div class="mb-3">
				<label for="Input.Email" class="form-label">Email</label>
				<InputText @bind-Value="Input.Email" id="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="Name@example.com" />
				<ValidationMessage For="() => Input.Email" class="text-danger" />
			</div>
			<div class="mb-3">
				<label for="Input.Password" class="form-label">Password</label>
				<SecretInput @bind-Value="Input.Password" Id="Input.Password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Password" />
				<ValidationMessage For="() => Input.Password" class="text-danger" />
			</div>
			<div class="mb-3">
				<label for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
				<SecretInput @bind-Value="Input.ConfirmPassword" Id="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
				<ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
			</div>
			<button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
		</div>
	</EditForm>
</div>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    protected override void OnInitialized()
    {
        Input ??= new();

        if (Code is null)
        {
            RedirectManager.RedirectTo("Account/InvalidPasswordReset");
            return;
        }

        Input.Code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
    }

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null)
        {
            // Don't reveal that the user does not exist
            RedirectManager.RedirectTo("Account/ResetPasswordConfirmation");
            return;
        }

        var result = await UserManager.ResetPasswordAsync(user, Input.Code, Input.Password);
        if (result.Succeeded)
        {
            RedirectManager.RedirectTo("Account/ResetPasswordConfirmation");
            return;
        }

        identityErrors = result.Errors;
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        [Required]
        public string Code { get; set; } = "";
    }
}
