@page "/Account/ResetPasswordConfirmation"

<PageTitle>Reset Password Confirmation</PageTitle>

<div class="form-card narrow-card">
	<div class="page-stack">
		<h1>Password Reset</h1>
		<p role="alert">Your password has been reset. Please <a href="Account/Login">log in</a>.</p>
	</div>
</div>
